*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;

}
body{
    
}

.main-content{
    min-height: 950px;
    width: 100%;
    margin: 30px;
    display: grid;
    grid-template-columns: 300px 700px;
    justify-content: center;
    margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
}
@media only screen and (max-width : 1050px){
    .main-content{
        width: 100%;
        display: grid;
        grid-template-columns: 250px 550px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }
}
@media only screen and (max-width : 850px){
    .main-content{
        width: 100%;
        display: grid;
        grid-template-columns: 250px 550px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    
    }
}
@media only  screen and (max-width: 700px) {
    .main-content{
        width: 100%;
        display: grid;

      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      
    }
}

section{
    
}
.left-sections{
    background-color:#003147;
    height: 100%;  
 
}
.left-content{
    padding: 1rem;
}
.profile-details{

}
.profile-img{
    width: 10rem;
    height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .5rem solid white;
    border-radius: 10rem;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    white-space: 0.02px;
    padding: 0.8rem;
    color: white;
    text-transform: uppercase;
}
.designation{
 font-size: 1 rem;
 text-align: center;
 text-transform: uppercase;
 padding-bottom: 0.5rem;
 color: white;
}
.descripton{
    font-size: 0.75 rem;
    text-align: center;
    padding: 1 rem;
    text-transform: uppercase;
    color: white;
    margin-top: 2rem;
}
.contact-info{
  margin-top: 20px;
}
.contact-item{

    display: inline;
    justify-content: center;
    color: white;
}
.social-media{
    display: inline-block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 1.5rem;
    position: relative;
    left:30px;
    color: white;
}
li.icn{
    display: inline-block;
    left: 10%;
    right: 10%;
    position: relative;
}
div.icn{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.personal-details ul{
    position: relative;
}
.personal-details ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.personal-details ul li .icon{
 display: inline-block;
 width: 30px;
 font-size: 18px;
 color: #03a9f4;
}
.personal-details ul li span{
    color: #fff;
   
}
 .title{
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.java{
    color: #F7F7F7;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.contact-item .percent{
    width: 80%;
    background-color: #ddd;
    margin-left: 30px;
    margin-right: 20px;
}
.skills{
    text-align: right;
    padding-top:5px ;
    padding-bottom: 5px;
    color: white;
}
.javaa{width: 90%; background-color: #04AA6D;}
.js{width: 70%; background-color: hwb(125 5% 14%);}
.react{width: 80%; background-color:violet;}
.html{width: 80%; background-color: hsl(327, 98%, 48%);}
.android{width: 60%; background-color:tomato;}
.right-sections{
    color: red;
    background-color: #ddd;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.right-title{
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
    color: black;
 }
 .about{
     padding-right: 20px;
     font-size: large;
     margin-top: 20px;
     color: black;
 }
 .edu-detais{
     width: 100%;
      height: 50px; 
     margin-bottom: 20px;
    margin-top: 20px;
    color: black;
 }
 span.left{
     width: 200px;
     float: left;
 }
 span.mid{
     width: 200px;
     float: left;
 }
 span.right{
     width: 200px;
     float: left;
 }
